deploy/whatsapp/n8n-workflow-meta-eventos.json
{
  "name": "Meta eventos → baja de marketing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "meta-wa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Verificación Meta (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, -160],
      "webhookId": "meta-wa-verify"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Responder challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [240, -160]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-wa",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Eventos Meta (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 80],
      "webhookId": "meta-wa-events"
    },
    {
      "parameters": {
        "jsCode": "// Extrae los mensajes entrantes y detecta las bajas de marketing.\n// El quick reply de una plantilla llega como type='button' con button.text.\n// También aceptamos texto libre 'BAJA'/'STOP' por si el cliente responde a mano.\nconst out = [];\n\nfor (const item of $input.all()) {\n  const body = item.json.body ?? item.json;\n  for (const entry of (body.entry ?? [])) {\n    for (const change of (entry.changes ?? [])) {\n      const value = change.value ?? {};\n      for (const msg of (value.messages ?? [])) {\n        const from = msg.from ?? '';\n        let text = '';\n        if (msg.type === 'button') {\n          text = msg.button?.text ?? msg.button?.payload ?? '';\n        } else if (msg.type === 'text') {\n          text = msg.text?.body ?? '';\n        } else if (msg.type === 'interactive') {\n          text = msg.interactive?.button_reply?.title ?? '';\n        }\n        const norm = text.trim().toLowerCase();\n        const isOptOut =\n          norm.includes('cancelar promociones') ||\n          norm === 'baja' ||\n          norm === 'stop';\n        out.push({ json: { from, text, isOptOut } });\n      }\n    }\n  }\n}\n\n// Sin mensajes (p.ej. solo statuses de entrega) => el workflow termina acá.\nreturn out;"
      },
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Detectar baja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 80]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isOptOut }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "¿Es una baja?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ixjhjgfdzrzcmmwutudt.supabase.co/rest/v1/rpc/wa_opt_out_by_phone",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_wa_phone\": \"{{ $json.from }}\"\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Registrar baja en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 0],
      "credentials": {
        "supabaseApi": {
          "id": "REEMPLAZAR_AL_IMPORTAR",
          "name": "Supabase Ganesha (service role)"
        }
      }
    }
  ],
  "connections": {
    "Verificación Meta (GET)": {
      "main": [[{ "node": "Responder challenge", "type": "main", "index": 0 }]]
    },
    "Eventos Meta (POST)": {
      "main": [[{ "node": "Detectar baja", "type": "main", "index": 0 }]]
    },
    "Detectar baja": {
      "main": [[{ "node": "¿Es una baja?", "type": "main", "index": 0 }]]
    },
    "¿Es una baja?": {
      "main": [[{ "node": "Registrar baja en Supabase", "type": "main", "index": 0 }], []]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
